.dark .left_content, .dark .issuebox, .dark .login_box, .dark .output_array .select_area {
  background-color: transparent;
}

.dark .pop_wrap {
  background-color: #222222;
}

.dark .minor_intro_box {
  color: #888888 !important;
}

.dark .area_links li::before, .dark .gall_issuebox button::before, .dark .user_option span::before {
  color: #888888;
}

.dark .minor_ranking_box {
  background-color: #838383;
  border-left: 1px solid #656565;
}

.dark .visit_history, .dark .user_option, .dark .output_array .option_box {
  background-color: #373737;
}

.dark .btn_white {
  background-color: #aaaaaa;
}

.dark .visit_history .tit, .dark .page_head h2 a, .dark .user_info {
  color: #4c5790;
}

.dark .visit_history, .dark .output_array .select_area, .dark .output_array .option_box {
  border: 1px solid #959595;
}

.dark .array_tab button {
  border: 1px solid #8c8c8c;
}

.dark td {
  border-top: 1px solid #777777;
}

.dark tbody tr:hover {
  background-color: #272727;
}

.dark .crt {
  background-color: #2c2c33;
}

.dark .gall_issuebox button, .dark .array_tab button, .dark .area_links a {
  color: #888888;
}

.dark .center_box ul li a {
  color: #777777;
}

.dark .list .gall_tit a:visited {
  color: #446688;
}